html {
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    align-content: center;
}

#cardimg {
    height: 250px;
}

.card {
    height: 550px;
}

.card:hover {
    border: 1px solid green;
}

p {
    margin-bottom: 0;
}

#card-title {
    position: absolute;
    top: 250px;
    width: auto;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0;
}

.text2 {
    font-size: 40px;
    font-weight: 600;
    width: auto;
}

.btn {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
}

.btn:hover {
    border-radius: 15px;
}

section {
    width: 100%;
    text-align: center;
    background-color: pink;
}

#cardcontainer {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    max-width: 100%;
    font-size: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div {
    width: 230rem;
    margin: 5px 3px;
    border-radius: 10px;
}

h1,
h3 {
    text-align: center;
}

@media screen and (width < 300px) {
    #cardcontainer {
        justify-content: center;
        width: 100%;
    }

    .card {
        margin: 8px 8px;
        height: 450px;
    }

    #card-title {
        font-size: 25px;
        font-weight: 700;
    }

    .text2 {
        font-size: 15px;
        font-weight: 500;
    }

    .btn {
        width: 200px;
        font-size: 30px;
    }

    div {
        width: 100%;
        align-items: center;
        margin: 3px;
    }
}

@media screen and (width >=300px) and (width < 700px) {
    #cardcontainer {
        justify-content: center;
        width: 100%;
    }

    .card {
        margin: 8px 8px;
    }

    #card-title {
        font-size: 35px;
        font-weight: 700;
    }

    .text2 {
        font-size: 20px;
        font-weight: 500;
    }

    .btn {
        width: 200px;
        font-size: 30px;
    }

    div {
        width: 100%;
        align-items: center;
        margin: 3px;
    }
}

@media screen and (width >=700px) {
    #cardcontainer {
        width: 100%;
        justify-content: center;
    }

    div {
        width: 49%;
        text-align: center;
        align-items: center;
        margin: 3px;
    }
    #card-title {
        font-size: 40px;
        font-weight: 800;
    }

    .text2 {
        font-size: 25px;
        font-weight: 600;
    }

    .btn {
        width: 300px;
        font-size: 35px;
    }
}

@media screen and (width > 1100px) {
    div {
        width: 30%;
    }
}

@media screen and (width>=1500px) {
    div {
        width: 23%;
        align-items: center;
        margin: 5px;
    }
}

@media screen and (width>2000px) {
    div {
        width: 24%;
    }
}
